<%- include('./parties/tete.ejs') %>
<main class="text-center">
    <h1 class="mt-2 mb-3">Voici la liste des dossards :</h1>
    <a id="boutonTrieSAS" class="bouton boutonTrie">Trier par SAS</a>
    <div id="divTrieSAS" class="mt-4 d-flex flex-column"></div>
    <div id="listeInscrits" class="mt-4">
        <% inscrits.forEach(coureur => { %>
        <div class="coureur mb-2 p-3 border border-dark">
            <p><span class="gras">Prénom :</span> <%= coureur.prenom_coureur %></p>
            <p><span class="gras">Nom :</span> <%= coureur.nom_coureur %></p>
            <p><span class="gras">Dossard n° :</span> <%= coureur.dossard_coureur %></p>
            <p ><span class="gras">SAS :</span> <%= coureur.sas_coureur %></p>
            <a class="bouton copierDossard" data-dossard=<%= coureur.dossard_coureur %>>Copier le numéro de dossard</a>
        </div>
        <% }) %>
    </div>
</main>
<script src="/public/js/liste.js"></script>

<%- include('./parties/pied.ejs') %>
